@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wght@8..144,-10,200;8..144,0,300;8..144,0,500;8..144,0,600;8..144,0,800&display=swap');

#Golden {
  display: none;
}

#Labrador {
  display: none;
}

#retrieverQuiz {
  display: block;
}

#retrieverQuiz {
  display: block;
}

#foot {
  text-align: center;
  color: rgba(222, 184, 65, 1);
  font-weight: bold;
}

.box {
  width: 80%;
  height: 80%;
  border: 10px solid rgba(222, 158, 54, 1);
  background-color: rgba(109, 106, 117, 1);
  margin: 2px;
  font-family: 'Roboto Flex', sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  background-color: rgba(55, 50, 62, 1);
  justify-content: center;
}

h1 {
  text-align: center;
  color: rgba(222, 184, 65, 1);
  font-weight: 800;
}

h2 {
  text-align: center;
  color: rgba(222, 184, 65, 1);
  font-weight: 600;
}

h3 {
  text-align: center;
  color: rgba(222, 184, 65, 1);
  font-weight: 500;
}

h4 {
  text-align: center;
  color: rgba(222, 184, 65, 1);
  font-weight: 200;
  font-style: oblique 10deg;
}

p {
  text-align: center;
  color: rgba(222, 184, 65, 1);
  font-weight: 200;
  font-style: oblique 10deg;
}

img {
  width: 80%;
}
